<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Content</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        a{
            text-decoration: none;
        }
   
        body{
            background-color: rgb(220, 220, 220);
        }
        header{
            position: relative;
        }
        .rl-btn{
            position: absolute;
            right: 0;
            top: 100%;
            transform: translateX(20%) translateY(-10%);
            z-index: 1;
        }
        .rl-btn li{
            list-style: none;
            border: 10px solid rgb(220, 220, 220);
        }
        .rl-btn li a{
            color: black;
        }

        .nav-pills li a{
            font-weight: 500;
            color: black;
            transition: all 0.5s;
        }
        .nav-pills li a:hover{
            color: black;
            text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
        }
        .nav-pills li .heigh-light{
            background-color: rgb(35, 120, 92);
            color: whitesmoke;
        }


        .slider {
            display: flex;
            align-items: center;
        }

        .card{
            display: block;
            margin: 10px 0px;
            padding: 0px 10px;
            border: none;
            background-color: transparent;
        }
        .c-slider{
            display: flex;
            flex-wrap: wrap;
        }
        .card a.btn{
            width: 100px;
            box-shadow: 2px 2px 5px black;
            margin-right: 10px;
        }
        .card-body{
            border-bottom: 1px solid rgb(112, 112, 112);
            border-left: 1px solid rgb(112, 112, 112);
            border-right: 1px solid rgb(112, 112, 112);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px ;
        }

        .slider-home{
            background: url("https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGVuc3xlbnwwfHwwfHw%3D&w=1000&q=80");
            width: 100%;
            height: 100%;
            padding: 150px 50px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: space-between;
        }
        .slider-home .col-6{
            display: block;
            text-align: end;
            color: whitesmoke;
            width: 40%;
        }
      
        .creat button{
            color: aliceblue;
            font-weight: 700;
            text-transform: uppercase;
        }
        .hadding{
            padding-left: 230px;
        }
        h1 , h3 , span , h4{
            text-transform: capitalize;
        }
        .card-img-top{
            width: 415px;
            height: 280px;
        }
        .D-Btn{
            text-decoration: none;
            color: brown;
            padding: 2px 8px 0px 8px;
            border: 1px solid gray;
            border-radius: 4px;
            line-height: 1;
        }
        .Com-del{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        html {
            height: 100%;
        }
        
        .quantity-counter {
        display: flex;
        }
      
        .value {
            border: 1px solid #adadad;
            border-radius: 3px;
            margin: 0px 10px;
            text-align: center;
            height: 30px;
            width: 80px;
            align-items: center;
        }
        
        .increment,.decrement {
            border: 0;
            background: transparent;
            cursor: pointer;
            border-radius: 3px;
            background-color:teal;
            color: #fff;
            height: 30px;
            width: 30px;
        }    
        .creat{
            border:2px solid black;
            padding: 30px 0px;
            border-radius: 20px;
            background-color: #adadad;
            margin-top: 0px;
        }
        a , a:hover{
            color: #fff;
        }
        tr{
            align-items: center;
        }
        .select{
            display: block;
            width: 200px;
            padding: 5px;
            border: none;
            border-radius: 3px;
            margin-top: 12px;
            text-align: center;
            box-shadow: 0px 0px 3px whitesmoke;
        }
        .td-image{
            width: 160px;
            height: 100px;
        }
    </style> 

</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
            <div class="container">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-md-auto gap-2">
                 
                  <li class="nav-item rounded">
                        <a class="nav-link active" aria-current="page" href="/Product/Productpage">Add Product </a>
                  </li>
                  <li class="nav-item rounded">
                        <a class="nav-link active" aria-current="page" href="/Product/Catagorypage">Add Catagory</a>
                  </li>
                  <li class="nav-item rounded">
                    <% if(user.roll == 'admin'){ %>
                        <a class="nav-link active" aria-current="page" href="/orders">Order's</a>
                    <% } %>
                  </li>
                  <li class="nav-item rounded">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item rounded">
                        <a class="nav-link active" aria-current="page" href="/cart">Cart</a>
                  </li>
                  <li class="nav-item rounded border ms-5">
                    <a class="nav-link active " aria-current="page" href="/user/logout">Logout</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <!-- <section class="creat container mt-5">
    <div class="container ">
              <div class="row">
                  <h1 class="pb-5 hadding">Add Product</h1>
 
                  <form action="/Product/CreatProduct" method="post" class="col-8 mx-auto" enctype="multipart/form-data">
                      <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Product Name</label>
                          <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
                       </div>
                      <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Product Price</label>
                          <input type="text" name="price" class="form-control" id="exampleFormControlInput1">
                       </div>
                      <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Product Quantity</label>
                          <div class="quantity-counter py-3">
                              <span id="counter-decrement" class="decrement text-center">-</span>
                              <input id="counter-value" name="quantity" class="value" type="number" value="0">
                              <span id="counter-increment" class="increment text-center">+</span>
                          </div>
                       </div>
                       <label>Product Category :</label>

                       <select name="category" class="mb-3 select">
                           <option value="Mobile">Mobile</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Tv">Tv</option>
                            <option value="Watch">Watch</option>
                            <option value="Headphone">Headphone</option>
                        </select>
                       <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Product images</label>
                        <input type="file" name="image" class="form-control" id="exampleFormControlInput1">
                     </div>
                       <button type="submit" class="btn btn-info my-3 px-5">Creat</button>
                    </form>            

                </div>
            </div>
        </section> -->
        <table class="container table table-dark text-center table-striped mt-5">
            <tr>
                <th>Product</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
            <% data.forEach((i) => { %>
                <tr>
                    <td>
                        <img src="/images/<%= i.image %>" class="img-fluid td-image">
                    </td>
                    <td class="pt-5"><%= i.name %></td>
                    <td class="pt-5"><%= i.quantity %></td>
                    <td class="pt-5"><%= i.price %></td>
                    <td class="pt-5">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-success px-4"> <a href="/Product/Editpro/<%= i._id %>">Edit</a></button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger px-4"> <a href="/Product/Delete/<%= i._id %>">Delete</a></button>
                        </div>
                    </td>               
                </tr>
            <% }) %>
                
        </table>
       
    </body>
</html>
<script>
    var counterValue = document.querySelector("#counter-value");
    var counterIncrement = document.querySelector("#counter-increment");
    var counterDecrement = document.querySelector("#counter-decrement");
    var count = 0;

    this.counterIncrement.addEventListener('click', () => {
    this.count++
    this.counterValue.setAttribute("value", count);
    });

    this.counterDecrement.addEventListener('click', () => {
    this.count--
    this.counterValue.setAttribute("value", count);
    });


    

  <% if(flash.success && flash.success.length > 0){ %>
      new Noty({
          text : '<%= flash.success %>',
          type : 'success',
          timeout : 1000,
      }).show()
  <% } %>
  
  <% if(flash.error && flash.error.length > 0){ %>
      new Noty({
          text : '<%= flash.error %>',
          type : 'error',
          timeout : 1000,
      }).show()
  <% } %>
</script>